@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&text=Matt%20McCormickAbout');
@font-face {
  font-family: 'Linux Libertine';
  src: url("/fonts/LinLibertine_R_subset.woff") format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url("/fonts/LinLibertine_RB_subset.woff") format('woff');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url("/fonts/LinLibertine_RI_subset.woff") format('woff');
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Linux Biolinum';
  src: url("/fonts/LinBiolinum_R_subset.woff") format('woff');
  font-display: swap;
}

body {
  font-family: 'Linux Libertine', constantia, 'hoefler text', 'palatino linotype', serif;
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Linux Biolinum', corbel,'gill sans','gill sans mt', sans-serif;
  text-rendering: optimizeLegibility;
}
